* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  color: white;
  background-color: #151019;
  padding: 15px 32px;
  border-radius: 10px;
  border-style: solid ;
  border-color: #5D85A9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px;
}
.background{
  position:absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-size: 100%;
  background-repeat: repeat;
  background-image: url(bg.png);
}
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  height: 70px;
}
.search-container {
  float: right;
  position: relative;
  top: 20%;
  left: -10vw;
  border-radius: 20px;
  border-color: black;
}
.topnav input[type="message"] {
  padding: 6px;
  font-size: 17px;
  border-radius: 20px;
  border-color: grey;
}
.popup .overlay {
  position:fixed;
  width:100vw;
  height:100vh;
  border-radius: 40px;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:95%;
  max-width:500px;
  height:300px;
  z-index:2;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:50px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
.popup.active .overlay {
  display:block;
}
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}
.gmail-container {
  position: absolute;
  left: 1vw;
}
.gmail-container input[type="message"] {
  padding: 6px;
  font-size: 17px;
  border-radius: 20px;
  border-color: burlywood;
}
.password-container {
  position: absolute;
  top: 35vh;
  left: 1vw;
}
.password-container input[type="password"] {
  padding: 6px;
  font-size: 17px;
  border-radius: 20px;
  border-color: burlywood;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.box{
  float: left;
  width: 240px;
  height: 292px;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.img{
  height: 140px;
  width: 220px;
  background-image: none;
}