body{
    height: 1vh;
    width: 100vh;
    background-color: #e9e9e9;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
body img{
    height: 80vh;
}
.ba{
    display: flex;
    flex-direction: row;
}
.aa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 73vh;
    padding-top: -10vh;
}
.bb{
    display: flex;
    flex-direction: row;
}
.ca img{
    display: flex;
    width: 37vh;
    height: 38vh;
    border-radius: 50ch;
    border-style: ridge;
    border-color: aqua;
    margin-left: 3.5vh;
    margin-top: 1vh;
}
.ca{
    display: flex;
    padding-bottom: 10vh;
}
.cb{
    display: flex;
    padding-top: 35vh;

}
.cc{
    display: flex;
    padding-bottom: 85vh;
}
.cd{
    display: flex;
    padding-top: 35vh;
    padding-left: 20vh;

}
.cb img{
    display: flex;
    width: 37vh;
    height: 38vh;
    border-radius: 50ch;
    border-style: ridge;
    border-color: aqua;
    margin-left: 3.5vh;
    margin-top: 1vh;
}
.cc img{
    display: flex;
    width: 37vh;
    height: 38vh;
    border-radius: 50ch;
    border-style: ridge;
    border-color: aqua;
    margin-left: 3.5vh;
    margin-top: 1vh;
}
.cd img{
    display: flex;
    width: 37vh;
    height: 38vh;
    border-radius: 50ch;
    border-style: ridge;
    border-color: aqua;
    margin-left: 3.5vh;
    margin-top: 1vh;
}
.ml6 {
    position: relative;
    font-weight: 1000;
    font-size: 5.3em;
    padding-top: 150vh;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
    font-style:unset;
  }
  .wat{
      padding-top: -80vh;
  }
  .pol .fa:hover{
    background: transparent;
    color: black;
    border: 2px solid black;
    margin-top: 40px;
}
.pol .fa{
    padding: 12px 20px;
    background: black;
    border: none;
    color: white;
    border-radius: 40px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
    margin-top: -180vh;
    margin-left: 80vh;
}

.pol{
    padding-top: 80vh; 
    flex-direction: row;
    padding-left: 40vh;
}
.ca {
    display: flex;
}
.h1{
    padding-left: 10vh;
}
.aa .img{
    display: flex;
    padding-right: 20vh;
    padding-bottom: 2vh;
}
.aa .img:hover{
    background: transparent;
    color: black;
    border: 2px solid black;
    margin-top: 40px;
}
.p{
    font-size: 2vh;
}
.p1 .fa{
    padding-top: 6vh;
    padding-left: 4vh;
    padding: 7px 12px;
    background: black;
    border: none;
    color: white;
    border-radius: 40px;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
}
.p1{
    padding-left: 2vh;
}
.p1 .fa:hover{
    background-color: transparent;
}
.cc .p1{
    display: flex;
    flex-direction: row;
    
}

.ca{
    padding-bottom: 6vh;
}
.p1{
    padding-bottom: 6vh;
}
.wat .b{
    padding-left: 4vh;
    padding-top: 3vh;
}
.b .p1{
    padding-top: 9vh;
}